<!-- You are logged in. Your user id is <%=session[:user_id]%>


<div>
  <a href="/sessions/<%=session[:user_id]%>" data-method='delete'>Logout</a>
</div>

<div>
  <a href="users/<%=session[:user_id]%>"
 -->


    <div>
    	<div class="header">
    		<h1 class="inline_block">Secrets</h1>
    		<a class="float_right" data-method="delete" href="/sessions/<%= session[:user_id] %>">Logout</a>
    	</div>
    	<div>
    		<a href="/users/<%= session[:user_id] %>">My Profile</a>
    	</div>
    	<div class="half_size inline_block">
    		<% @secrets.each do |secret| %>
    			<p> <%= secret.content %>
    				<% if secret.user.id == session[:user_id] %>
    					<span><a href="/secrets/<%= secret.id %>" data-method="delete">Delete</a></span>
    				<% end %>
    			</p>
    			<p class="inline_block"><%=secret.likes.length %> Like<%= 's' if secret.likes.length != 1 %></p>
    			<% if @secrets_liked_ids.include? secret.id %>
    				<form class="inline_block" action="/likes/<%= secret.id %>" method="post">
    					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    					<input type="hidden" name="_method" value="delete">
    					<input type="submit" value="Unlike">
    				</form>
    			<% else %>
    				<form class="inline_block" action="/likes/<%= secret.id %>" method="post">
    					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    					<input type="submit" value="Like">
    				</form>
    			<% end %>
    		<% end %>
    	</div>
    </div>
